@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Get Rek";
  src: url("../fonts/Get\ Rekt.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto-Medium", sans-serif;
}
.clear {
  clear: both;
}
a {
  text-decoration: none;
}

.header {
  margin: 0;
  padding: 0;
  height: 70px;
  /* background: rgb(198, 198, 226); */
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.logo-place .logo {
  text-decoration: none;
  font-family: "Get Rek";
  font-size: 35px;
  letter-spacing: 1px;
}
.menu {
  align-self: flex-end;
  line-height: 35px;
}

.menu .menu-item {
  list-style-type: none;
  display: inline-block;
  margin-left: 35px;
}
.menu .menu-item a {
  color: rgb(69, 17, 189);
  font-size: 25px;
}
.menu-items-link {
  display: block;
  list-style-type: none;
  margin: 55px;
}
/* Banner */
.banner {
  position: relative;
  top: -70px;
  width: 100%;
  max-width: 100%;
  box-sizing: content-box;
  z-index: -1;
}
.banner-image {
  width: 100%;
  max-width: 100%;
}
.banner-content {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  bottom: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: chocolate;
  font-family: "Get Rek";
}
.banner-content h2 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 5px;
}
.banner-content p {
  font-size: 15px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 5px;
  text-align: center;
}
.banner-content .btn-success {
  display: inline-block;
  color: #fff;
  background-color: cornflowerblue;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 5px 5px;
  box-shadow: darkblue;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 15px;
}

/* Vignettes */
.vignettes {
  position: relative;
  height: 500px;
  width: 100%;
  max-width: 100%;
  background-color: darkgrey;
  top: -75px;
  overflow: hidden;
}

/* Media Queries */

@media (max-width: 850px) {
  .header {
    height: auto;
    background-color: rgb(114, 114, 143);
  }
  .header-container {
    flex-direction: column;
  }
  .menu {
    align-self: center;
  }
  .menu .menu-item a {
    color: #fff;
    font-size: 25px;
  }

  .menu .menu-item {
    margin: 15px auto;
    display: block;
  }
  .banner {
    top: 0;
  }
}

@media (max-width: 370px) {
  .banner-content {
    align-self: flex-start;
    bottom: 50%;
  }
  .banner-content h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 2px;
  }
  .banner-content p {
    font-size: 15px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 2px;
    text-align: center;
  }
  .banner-content .btn-success {
    display: inline-block;
    color: #fff;
    background-color: cornflowerblue;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 2px 2px;
    box-shadow: darkblue;
    font-size: 10px;
    font-weight: 200;
    margin-bottom: 5px;
  }
}
